<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="testSchool" class="spring.dependencyInjection.setterDi.bean.School" >
		<property name="name" value="GDOU"/>
	</bean>
	
<!--
	Abstract Parent within the same class 
	<bean id="baseTestImpl1" class="spring.dependencyInjection.setterDi.bean.testImpl" >
		<property name="name" value="Chuck Lin"/>
		<property name="school" ref="testSchool"/>
	</bean>
 -->
	
	<!-- Abstract Parent within the different class -->
	<bean id="baseTestImpl2" abstract="true">
		<property name="name" value="Chuck Lin"/>
		<property name="school" ref="testSchool"/>
	</bean>
	
</beans>